<%= form_for @project, html: {class: "form form_new_project"} do |f| %>
  <%= form_error_messages(@project) %>
  <div class="form-group">
    <label>分类</label>
    <%=f.select :category_id, options_from_collection_for_select(Category.root, :id, :name), {}, class: 'form-control validate[required]' %>
  </div>
  <div class="form-group">
    <label>标题</label>
    <%=f.text_field :name,  class: 'form-control validate[required]', placeholder: "项目标题" %>
  </div>
  <div class="form-group">
    <label>描述</label>
    <%=f.text_area :description, class: "description validate[required]" %>
  </div>

  <div class="form-group">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#fixed_price" aria-controls="home" role="tab" data-toggle="tab">固定价格需求</a>
          <span class='fa fa-check chose-icon'></span>
        </li>
        <li role="presentation">
          <a href="#hours_price" aria-controls="profile" role="tab" data-toggle="tab">时薪计算</a>
          <span class='fa fa-check chose-icon'></span>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fixed_price active" id="fixed_price">    
          <p>
            <div class="input-group">
              <div class="input-group-addon">总金额</div>
              <%=f.text_field :budget, class: "budget form-control", placeholder: "总金额" %>
              <div class="input-group-addon">RMB</div>
            </div>
          </p>        
        </div>
        <div role="tabpanel" class="tab-pane hours_price" id="hours_price">  
          <div class='wrap'>
            <div class="input-group bar">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">1/日 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:;">时</a></li>
                  <li><a href="javascript:;">天</a></li>
                  <li><a href="javascript:;">周</a></li>
                  <li><a href="javascript:;">月</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:;">不固定</a></li>
                </ul>
              </div>
              <input type='text' class='form-control' name='' placeholder='时薪' />
              <span class="input-group-addon">
                RMB
              </span>
            </div>
            <button class='btn btn-info btn_add'>添加</button>
          </div>       
        </div>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label class="">附件</label>
    <%= f.file_field :attachment_id %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
