<nav class="navbar navbar-default navbar-fixed-top navbar_top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dashbord active"><a href="<%=root_path %>">控制面板</a></li>
        <li class="find_project"><a href="<%=projects_path %>">寻找项目</a></li>
        <li class='member'>
          <a href="<%=new_project_path %>">我有需求</a>
        </li>    
      </ul>

      <div class='pull-right'>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <li class="member dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><%=truncate current_user.login, length: 15 %> 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="<%=member_path(current_user.login) %>">个人资料</a></li>
                <li><a href="#">我的订阅</a></li>
                <li><a href="<%=settings_member_path(current_user.login) %>">个人设置</a></li>
                <li class="divider"></li>
                <li><a href="<%= new_project_path %>">我有需求</a></li>
                <li>
                  <%=link_to '退出登陆', destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-2"%>
                </li>
              </ul>
            </li>
          <% else %>
            <li class='user pull-right'>
              <%= link_to "登陆", new_session_path(:user) %>
            </li>  
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>