<!DOCTYPE html>
<html>
<head>
  <title>Husky</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <div class='container'>
    <%= yield %>
  </div>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
<script type="text/javascript">
  var class_name = "<%=yield :navbar_active %>"
  if(class_name != ""){
    $(".navbar_top .navbar-nav>li."+ class_name).addClass("active").siblings().removeClass("active")
  }
</script>
