<div class="panel panel-default user_profile">
  <div class="panel-heading">个人资料</div>
  <div class="panel-body">
    <ul>
      <li>
        <label class='title'>ID</label>
        <span class='content'><%=current_user.login %></span>
      </li>
      <li>
        <label class='title'>姓名</label>
        <span class='content'><%=current_user.name %></span>
      </li>
      <li>
        <label class='title'>城市</label>
        <span class='content'><%=current_user.province.try(:name) %> <%=current_user.city.try(:name) %></span>
      </li>
      <li>
        <label class='title'>注册日期</label>
        <span class='content'><%=current_user.created_at.strftime("%Y-%m-%d") %></span>
      </li>
      <li>
        <label class='title'>好评</label>
        <span class='content'>1000</span>
      </li>
    </ul>

    <div class='avatar'>
      <img src="<%=current_user.avatars.url %>" alt='头像' data-toggle="tooltip" data-placement="top" title="点击变更头像" />
    </div>
  </div>
</div>